<nav class="navbar navbar-expand-md navbar-dark bg-dark-blue">
  <div class="container">
    <a class="navbar-brand" href="#">Lawrence.AI</a>
    <button class="btn btn-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    </button>

    <div class="collapse navbar-collapse" id="navbar-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/kyc_processes">Hvidvask</a>
        </li>
      </ul>

        <ul class="navbar-nav">
          <li role="presentation" class="dropdown nav-item">
            <a class="nav-link dropdown-toggle pr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              nal+plesner@lawrence.ai
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="/companies/1/edit">Indstillinger</a>
              <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">Log ud</a>
            </div>
          </li>
        </ul>
    </div>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
  <h1>Hello, world!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
</div>
</div>



<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <span class="nav-link active disabled" disabled=""><span class="lead">Hvidvask</span></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cases">
          <span class="lead">Sager</span>
        </a>      
      </li>
    </ul>
  </div>
</div>